.btn {
  background-color: var(--specify-success-500);
  padding: 0.5rem 1.5rem;
  color: var(--specify-base-black);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: var(--specify-success-400);
}

.btn:focus {
  outline: 2px solid var(--specify-success-200);
  outline-offset: 2px;
}

.btn:active {
  box-shadow: inset 0 0 0px 2px var(--specify-button-primary-active-shadow);
}

.btn[outline] {
  background-color: var(--specify-base-white);
  border: 1px solid var(--specify-primary-500);
}

.btn[outline]:hover {
  background-color: var(--specify-informative-200);
}

.btn[disabled] {
  background-color: var(--specify-informative-100);
  color: var(--specify-informative-300);
}
